.header {
  display: flex;
  justify-content: space-between;
  align-items:center;
  font-family: 'Inter', Arial, sans-serif;
  width: calc(100% - 96px);
  margin: 0;
  padding: 0 48px;
}

@media screen and (max-width: 984px) {
  .header {
    width: calc(100% - 48px);
    padding: 0 24px;
  }
}

@media screen and (max-width: 568px) {
  .header {
    width: calc(100% - 32px);
    padding: 0 16px;
  }
}