.place {
  display: grid;
  grid-template-columns: minmax(440px, 460px) 1fr;
  grid-template-rows:repeat(2, min-content);
  box-sizing: border-box;
  gap: 48px 40px;
}

@media screen and (max-width: 1124px) {
  .place {
    gap: 48px 12px;
  }
}

@media screen and (max-width: 984px) {
  .place {
    grid-template-columns: 340px 1fr;
    gap: 48px 28px;
  }
}

@media screen and (max-width: 750px) {
  .place {
    grid-template-columns: auto;
    margin: 0;
  }
}

@media screen and (max-width: 568px) {
  .place {
    gap: 32px;
  }
}